<!-- <div class="container main-container">
    <div class="container" style="margin-top: 100px ;margin-bottom:100px;">
        <div class="container">       
        <div class="container report-background p-5 m-5">
            <div class="row report-background p-5 m-5">
                <div class="row col-12">
                    <div class="col-7">
                        <img src="assets/images/logos/modumTechLogo.png" class="logo-image" alt="logo"  />
                        <div class="col-12">
                            <label class="logo-header">Commericial Restricted Appraisal Report</label>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="col-12 button-background div-header py-2">
                            Preparer
                        </div>
                        <div class="grid-display text-align-center my-2">
                            <label class="div-header" style="font-size: 12px;">Modum Valuation,LLC</label>
                            <label class="div-header" style="font-size: 12px;">55755 S Semoran Blvd</label>
                            <label class="div-header" style="font-size: 12px;">Suite #36</label>
                            <label class="div-header" style="font-size: 12px;">Oriando,FL 32822</label>
                        </div>
                        <div class="col-12">
                            <img src="assets/images/logos/powered-by.png" class="logo-icon-image" alt="logo"/>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                <hr class="col-12"/>
                </div>
                <div class="row col-12">
                    <div class="col-7">
                        <div class="col-12 button-background grid-display text-align-center div-header py-2">
                            <label class="my-1">12 Andrews Rd</label>
                            <label class="my-1">Chanttanooga, TN 37411</label>
                        </div>
                        <div class="col-12">
                            <img src="assets/images/logos/land-image.png" class="land-image-size" />
                        </div>
                        <div class="col-12 marketValue-div grid-display text-align-center div-header py-2">
                            <label class="white-text my-1" style="font-size: 16px;">As Is Market Value @July 21,2022</label>
                            <label class="blue-text my-1" style="font-weight:bolder;font-size: 20px;">$180,000</label>
                        </div>
                        <div class="row col-12">
                            <div class="col-6">
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name"
                                        placeholder="Land Sales Comparison Approach">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name1"
                                        placeholder="Exposure Time">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name2"
                                        placeholder="Date of Report">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name3"
                                        placeholder="Valuation Premise">
                                </div>
                                <section class="col-12 float-right display-flex "  style="font-size: 10px;">
                                        <label class="grid-display text-align-center m-2 bold-font" >
                                            <input type="checkbox">
                                            Current
                                        </label>                                   
                                    <label class="grid-display text-align-center m-2 bold-font">
                                        <input type="checkbox">
                                        Retrospective
                                    </label>
                                    <label class="grid-display text-align-center m-2 bold-font">
                                        <input type="checkbox">
                                        Prospective
                                    </label>
                                </section>
                            </div>
                            <div class="col-6">
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name" placeholder="Purpose">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name1"
                                        placeholder="Intended Use">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name2"
                                        placeholder="Inspection Date">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name3" placeholder="Inspection">
                                </div>
                                <section class="col-12 float-right display-flex" style="font-size: 10px;">
                                    <label class="grid-display text-align-center m-2 bold-font">
                                        <input type="checkbox">
                                        Yes
                                    </label>
                                    <label class="grid-display text-align-center m-2 bold-font">
                                        <input type="checkbox">
                                        No
                                    </label>
                                </section>
                            </div>
                        </div>
                        <div class="col-12 button-background div-header py-2">
                            <label class="white-text">Property Details</label>
                        </div>
                        <div class="row col-12">
                            <div class="col-6">
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name"
                                        placeholder="Gross Land Area (SF / Acre)">
                                </div>
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name1"
                                        placeholder="Net Land Area (SF / Acre)">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="col-12 my-2">
                                    <input class="col-12" type="text" formControlName="name" placeholder="Property Subtype">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="col-12- button-background grid-display text-align-center div-header py-2">
                            <label class="my-1">Client</label>
                            <label class="my-1">Information</label>
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name" placeholder="Modum job #">
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name1" placeholder="Client">
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name2" placeholder="Intended User">
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name3" placeholder="Borrower Name">
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name4" placeholder="Client Loan Number">
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name5"
                                placeholder="Client Tracking ID 1">
                        </div>
                        <div class="col-12 my-2">
                            <input class="col-12" type="text" formControlName="name6"
                                placeholder="Client Tracking ID 2">
                        </div>
                        <div class="col-12 button-background text-align-center div-header py-2">
                            <label>Property Location Map</label>
                        </div>
                        <div class="col-12">
                            <img src="assets/images/logos/location.jpg" alt="location" class="location-image"/>
                        </div>
                        <div class="col-12 button-background text-align-center  div-header py-2">
                            <label>Aerial</label>
                        </div>
                        <div class="col-12">
                            <img src="assets/images/logos/aerial-view.jpg" alt="aerial" class="aerial-image"/>
                        </div>
                    </div>
                </div>
                <hr />
            <div class="col-12">
              <label class="" style="font-size: 10px;"> &#169;2022 Modum Technologies, LLC Modum, the Modum Design Mark, Modum Technologies , Modum RA is modum trademark of Modum Techmologies, LLC all rights reserved</label>
            </div>
            </div>
        </div>
    </div>
    </div>
</div> -->

<div *ngFor='let land of controlDetails' class="container text-align-center my-5 ">
    <div *ngIf="land.Control_Type == 'TextBox' "  >
        <label>{{land.Control_Label_Value}}</label><br />
        <input value={{land.Control_Field_Value}}  style="width: 172.08px;height:15.12px;font-size: 9px;border: none;"/><br />
    </div>
    <div *ngIf="land.Control_Type == 'Image' ">
        <!-- <button class="m-2">Upload</button><button class="m-2">Cropping</button><br/> -->
        <!-- <div class="col-md-12">
            <input type="file" (change)="onFileChange($event)" />
          </div> -->
        <image-cropper
        
        [imageBase64]="base64"
        [maintainAspectRatio]="true" 
        [aspectRatio]="4/2"
        
        format="png"
        (imageCropped)="cropImg($event)" 
        (imageLoaded)="imgLoad()"
        (cropperReady)="initCropper()" 
        (loadImageFailed)="imgFailed()"
        
        >
      </image-cropper>
      <div class="row p-0 m-0" style="background-color: grey !important;width:356px;height: 200px;display: flex;">
       
        <img [src]="cropImgPreview" style="width:100%;height: 100%;" class="p-0"/> 
      </div>
      <!-- <div class="" style="background-color:red ;">
        <img [src]=land.Control_URL width={{land.Control_Width}} height={{land.Control_Height}} class="mt-2"/> 

      </div> -->
    </div>
</div>