<div class="container">

    <div class="row">
        <label>Active Jobs List</label>
        <button>Refresh</button>
    </div>
    <hr />
    <div class="container">
        <div class="row">
             <input  placeholder="Search Job Queue here" id="search-input" type="text" ng-model="search"/>
        </div>
        <div>
            <table>
              <thead>
                <tr>
                  <th>#DATE/TIME POSTED</th>
                  <th>JOBID</th>
                  <th>PROPERTY ADDRESS</th>
                  <th>CLIENT</th>
                  <th>STATUS</th>
                  <th>ACTION</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <th>id</th>
                  <td>item.name</td>
                  <td>item.email</td>
                  <td>item.phone</td>
                  <td>item.address</td>
                  <td>
                    <button type="button">Edit</button>
                    <button type="button">Delete</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

    </div>

</div>
